<html>
<header>
  <div class="container-fluid bg-dark" style="opacity: 50%; padding: 20px">
    <h1 class="text-light" style="margin-left: 10%">
      Community-Mirror Administration
    </h1>
  </div>
</header>
<body>
<div class="p-5 mb-4 bg-light rounded-3" style="margin-top: 5%; margin-left: 10%; margin-right: 10%">
  <app-pichart class="container-fluid py-5"></app-pichart>
</div>
<div class="p-5 mb-4 bg-light rounded-3" style="margin-left: 10%; margin-right: 10%">
  <app-linechart class="container-fluid py-5"></app-linechart>
</div>
</body>
</html>
